
.roll {
    border: solid black 5px;
    border-radius: 20px;
    background-color: rgb(71, 245, 227);
   
}
.roll2 {
    border: solid black 5px;
    border-radius: 20px;
    background-color: rgb(71, 245, 227);
}