* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #19A1AD;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

.container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
}
.img1 {
    width: 400px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.img2 {
   border-radius: 50px;
   border: 5px solid white;
   position: relative;
   left: 140px;
   bottom: 50px;
   
}
.p1 {
    position: relative;
    left: 140px;
    bottom: 50px;
}
.s1 {
    display: block;
    position: relative;
    left:20px;
    top: 20px;
    color: gray;
    font-size: 16px;
}
.s2, .s3 , .s4 {
    display: block;
    color: gray;
    font-size: 12px;
    position: relative;
    top: 10px;
}
.div1 {
    display: grid;
    grid-template-columns: repeat(3,100px);
    position: relative;
    buttom:30px;
    left: 70px;
}
