table, th, td {
    border:1px solid black;
   border-collapse: collapse;
  }
  th:nth-child(1) {background-color: black ; color: white; }
  th:nth-child(2) {background-color: black; color: white; }