body {
    background-image: url("https://culturedvultures.com/wp-content/uploads/2022/08/Jojos-Bizarre-Adventyre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
     }
.Heading1 {
  color: blue;
  
}
.paragraph1 {
 color: blue;
}