
button {
    position: absolute;
    padding: 20px 60px;
    background-color:black;
}
/* .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  } */

.paragraph {
    color: yellow;
}
.heading {
    color: yellow;
}
.mydiv {
    border: 10px outset black;
    background: green;
    text-align: center; 
}
.my-text {
   color: red;
   text-align: right;

}
.img-hover-zoom { 
    overflow:hidden;  
    width: 300px;
    height: 300px;
    
}
.img-hover-zoom img { 
    transition: transform .5s ease; 
    width: 100%;
    height: 100%;
}
.img-hover-zoom:hover img {
     transform: scale(1.5); 
    
    }
.heading1 {
    text-align: center;
    color: greenyellow
}
.tyeshel {
    overflow:hidden;  
    width: 300px;
    height: 300px;
    
}
.tyeshel img{
    transition: transform .5s ease; 
    width: 100%;
    height: 100%;
}
.tyeshel:hover img {
    transform: scale(1.5); 
    
}
.heading3 {
    
}
.body {
    background-image: linear-gradient(to right, red, green);
}
