.attribution {
    border:15px solid black;
    height:400px;
    width:442px;
    border-radius: 30px;
    box-shadow: 400px;
}
.img {
    width:400px;
    padding:20px;
    border-radius: 50px;
}
.text {
    font-size:15px;
    display:inline;
}